<%= form_tag("/check") do %>
<h1><img src="<%= "/user_images/#{@question.user.image_name}" %>" alt="" width="50px" height="50px"><span class="title-span"><%= @question.user.name %></span>
    <br><%= safe_join(@question.content.split("\n"),tag(:br)) %></h1>
<input type="hidden" name="id" value="<%= @question.id%>">
<div class="form-floating">
    <textarea name="answer" id="answer" cols="10" rows="30"class="form-control" required></textarea>
    <label for="answer">答える</label>
</div>
<input type="submit"  class="btn btn-success" value="丸付け">
<% end %>