<h1><img src="<%= "/user_images/#{@question.user.image_name}" %>" alt="" width="50px" height="50px"><span class="title-span"><%= @question.user.name %></span>
<br>  <%= safe_join(@question.content.split("\n"),tag(:br)) %></h1>

    <div class="form-floating">
    <textarea id="text-box" cols="10" rows="30"class="form-control"><%= @answer %></textarea>
    <label for="test-box">答える</label>
</div>
<h1>答え<br>
    <%= safe_join(@question.answer.split("\n"),tag(:br)) %></h1>
