<div>
    <h1><%= @title %></h1>
</div>
<br>
<input type="button" class="btn btn-warning" value="解決済み">

<a href="/content/<%= @id %>" class="btn btn-info">未解決</a>

<a href="/content/<%= @id %>/question" class="btn btn-success">問題</a>
<br>
  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">content</th>
          <th scope="col">grade</th>
          <th scope="col">答える</th>
        </tr>
      </thead>
      <tbody>
        <% @borads.each do |borad| %>
        <tr>
          
          <td scope="row"><%= borad.id %></td>
          <td><%= borad.content %></td>
          <td><%= borad.grade %></td>
          <td><a href="#">答える</a></td>
        </tr>
        <%end%>
      </tbody>
  </table>