<div>
    <h1><%= @title %></h1>
</div>
<br>
<a href="/content/<%= @id %>/solve" class="btn btn-warning">解決済み</a>

<a href="/content/<%= @id %>" class="btn btn-info">未解決</a>

<a href="/content/<%= @id %>/question" class="btn btn-success">問題</a>
<br>
  <table class="table table-striped">
    <thead>
        <tr>
          <th>ユーザー名</th>
          <th scope="col">内容</th>
          <th scope="col">学年</th>
          <th scope="col">　</th>
        </tr>
      </thead>
      <tbody>
        <% @boards.each do |board| %>
        <tr>
          <td><img src="<%= "/user_images/#{board.user.image_name}" %>" alt="" width="50px" height="50px">　<%= board.user.name %></td>
          <td><%= board.content.truncate(40) %></td>
          <td><%= board.grade %></td>
          <td><a href="/content/<%= @id %>/<%= board.id %>" class="btn btn-primary">答える</a>
          <% if board.user_id.to_i == session[:user_id].to_i %>
          <%= link_to("編集","/content/edit/#{board.id}",{method: "post",class:"btn btn-success"})%>
          <%= link_to("削除","/destroy/#{board.id}",{method: "post",class:"btn btn-danger"}) %></td>
          <% end %>
        </tr>
        <%end%>
        <a href="#top" style="color:inherit"><i class="bi bi-arrow-up-square-fill top"></i></a>
        <a href="/add_ask_question"  style="color:inherit"><i class="bi bi-plus-circle-fill up"></i></a>
      </tbody>
  </table>