<%= form_tag("/content_question/update/#{ @question.id }") do %>
<div>
  <input class="form-control" name="content"  style="width: 100%; height: 50px;" required placeholder=問題を入力 value="<%= @question.content%>">
</div>
<br>
<div>
  <input class="form-control" name="answer" style="width: 100%; height: 50px;" required placeholder=答え、解説入力 value="<%= @question.answer%>">
</div>
<br>
<select class="form-select" aria-label="Default select example" name="subject" >
    <option selected disabled value=""><%= @title_question %></option>
    <option value="math">数学</option>
    <option value="japanese">国語</option>
    <option value="science">理科</option>
    <option value="society">社会</option>
    <option value="engliish">英語</option>
    <option value="it">情報</option>
  </select>
  <select class="form-select" aria-label="Default select example" name="grade" >
    <option selected disabled value=""><%= @question.grade %></option>
    <option value="中一">中一</option>
    <option value="中二">中二</option>
    <option value="中三">中三</option>
    <option value="高一">高一</option>
    <option value="高二">高二</option>
    <option value="高三">高三</option>
  </select>

<input type="submit" value="変更する" class="btn btn-success">
<% end %>