<h1 class="board_main_h1">教科</h1>
<div class="btn-disply"> 
<div><a class="btn btn-outline-primary" aria-current="page" href="/content/math">数学</a></div>
<div><a class="btn btn-outline-primary" aria-current="page" href="/content/japanese">国語</a></div>
<div><a class="btn btn-outline-primary" aria-current="page" href="/content/science">理科</a></div>
<div><a class="btn btn-outline-primary" aria-current="page" href="/content/society">社会</a></div>
<div><a class="btn btn-outline-primary" aria-current="page" href="/content/english">英語</a></div>
<div><a class="btn btn-outline-primary" aria-current="page" href="/content/it">情報</a></div>
</div>


    
<div class="board_home_btn">
  <div><a href="/add_set_question" class="btn btn-warning">問題</a></div>
  <div><a href="/add_ask_question" class="btn btn-success">質問</a></div>
</div>

<br>
<% if @boards.count >= 1 %>
<h1>自分が投稿した質問</h1>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">ユーザー名</th>
          <th scope="col">内容</th>
          <th scope="col">学年</th>
          <th scope="col">教科</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @boards.each do |board| %>
        <tr>
          <td><img src="<%= "/user_images/#{board.user.image_name}" %>" alt="" width="50px" height="50px">　<%= board.user.name %></td>
          <td><%= board.content.truncate(40) %></td>
          <td><%= board.grade %></td>
          <td><%= board.subject %></td>
          <td><a href="/content/<%= board.subject %>/<%= board.id %>" class="btn btn-success">答える</a></td>
        </tr>
        <%end%>
        <a href="#top" style="color:inherit"><i class="bi bi-arrow-up-square-fill top"></i></a>
      </tbody>
  </table>
<% end %>