<%= form_tag("/question_for_ai_answer") do %>
<h2 class="title-box"><%= @contents[0] %>の<%= @contents[1] %>の<%= @contents[2] %>について<%= @contents[3] %>問、問題を出してください</h2>
<p class="title-box"><%= safe_join(@chats.split("\n"),tag(:br)) %></p>
<input type="hidden" name="contents_0" value="<%= @contents[0] %>">
<input type="hidden" name="contents_1" value="<%= @contents[1] %>">
<input type="hidden" name="contents_2" value="<%= @contents[2] %>">
<input type="hidden" name="contents_3" value="<%= @contents[3] %>">
<input type="hidden" name="chats" value="<%= @chats  %>">
<br>
<input type="submit" value="答え合わせ" class="btn btn-success">
<% end %>
